nav ul{
    width: 100%;
    background-color: #df5179;
    position: absolute;
    top: 100px;
    right: 0;
    z-index: 2;
}

nav ul li a{
    color: aliceblue;
}
nav ul li{
display: block;
}

#menuicon{
    width: 30px;
    display: block;
}

#menuList{
    overflow: hidden;
    transition: 0.5s;
}

a::after{
    background-color: white;}
 
.main{
    margin-top: 70px;
    flex-direction: column-reverse;
}



.main .n h1{
    font-size:40px;
    
}

.main .n p{
    margin-top: 10px;
    font-size: 22px;
}



.main .n span{
    font-size: 16px;
}

.main  .btn{
    width: 120px;
}

.main .btn img{
    width: 30px;
}


.igon{
    width: 100%;
}

.igon .controller{
    width: 70%;
    left: -20px;
}

.igon .colbox{
    width:70%;
    transform: translateX(170px);
}
.colbox .addcart{
    width: 30px;
    height: 30px;
    margin-left: 100px;
}

.colbox p{
    margin-left:100px;
}